<h1>Tweets</h1>
<div>
  <% @tweets.each do |tweet| %>
    <%= link_to tweet_path(tweet) do%>
      <%= render partial: "shared/tweet_block", locals: {tweet: tweet} %>
    <% end %>
  <% end %>
</div>
