<h2 class="form-title full_center _0">Create an account</h2>
<div class="user-form">
  <div class="user-form__container">
    <span class="container-simple block full_center _0">CONTINUE</span>
    <%= link_to 'GitHub', "/", class: "button-account button-black flex jc-c" %>
    <span class="container-simple block full_center _0">OR</span>
  </div>
  <%= render partial: "form", locals: {user: @user,status_button: "signup"} %>
</div>
