<h2>Profile</h2>
<%= render partial: "profile", locals: {user: @user} %>
<div>
  <h3>Tweets</h3>
  <p>(<%= @user.tweets_count %>)</p>
</div>
<div>
  <% @user.tweets.each do |answer| %>
    <%= render partial: "shared/tweet_block", locals: {tweet: answer} %>
  <% end %>
</div>
